@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100;200;300&family=Roboto:wght@100&family=Uchen&display=swap");
* {
  /* So the padding doesn't take up the width. */
  box-sizing: border-box;
  /* Reset the padding and margin */
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  /* Remove bullet points */
  list-style: none;
}

a {
  color: #333;
  /* Remove the underline */
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}
